<div class="mdc-card price-card mdc-card--outlined">
  <div class="mdc-card__primary-action mdc-ripple-upgraded" tabindex="0" style="--mdc-ripple-fg-size:210px; --mdc-ripple-fg-scale:1.83226; --mdc-ripple-fg-translate-start:49.7383px, -30.6055px; --mdc-ripple-fg-translate-end:70px, -38px;">
    <div class="price-card__primary bloc-content">
      <h2 class="price-card__title mdc-typography--subtitle1">{{month}}</h2>
      <p class="dotted">....................</p>
      <h3 class="price-card__subtitle mdc-typography--headline3">€{{price}}</h3>
    </div>
    <div class="price-card__secondary mdc-typography--caption bloc-content">PRIX POUR 1 NUIT</div>
  </div>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <button class="mdc-button mdc-button--raised mdc-card__action mdc-card__action--button mdc-ripple-upgraded">Consulter</button></div>
  </div>