agm-map {
    width: 95vw;
    height: 65vh;
}
.mdc-card{
    border-radius: 5px;
    margin-top: 5px;
}
.btn-location > .material-icons{
    color: white;
}
.txtDepart, .txtArrivee {
    width: 100%;
}

