<h1>
  Studio au calme 1 chambre à 50m de la plage
</h1>
<p class="mdc-typography--subtitle1">
  Studio avec 1 chambre séparée très au calme à 50m de la plage.Centre ville et super marché à 300m. Idéal pour
  couple.
</p>

<ul class="list">
  <li>1 chambre</li>
  <li>1 salle de bain</li>
  <li>1 séjours cuisine</li>
</ul>

<div class="hr">_______</div>

<div class="mdc-grid-list">
  <ul class="mdc-grid-list__tiles">
    <li class="mdc-grid-tile">
      <ul>
        <li>Cuisine</li>
        <li>Chauffage</li>
        <li>Fer à repasser</li>
        <li>Lave-linge</li>
        <li>Sèche-linge</li>
        <li>Eau chaude</li>
        <li>Télévision</li>
        <li>Wi-Fi</li>
      </ul>
    </li>
    <li class="mdc-grid-tile">
      <ul>
        <li>Four à micro-ondes</li>
        <li>Réfrigérateur</li>
        <li>Lave-vaisselle</li>
        <li>Sèche-cheveux</li>
        <li>Cintres</li>
        <li>Vaisselle et couverts</li>
        <li>Ustensiles de cuisine de base</li>
        <li>Four</li>
      </ul>
    </li>
    <li class="mdc-grid-tile">
      <ul>
        <li>Parking gratuit sur place</li>
        <li>Logement de plain-pied</li>
        <li>Lit pour bébé</li>
        <li>Séjours longue durée autorisés</li>
        <li>Le ménage doit être fait avant le départ</li>
        <li>Détecteur de fumée</li>
        <li>En bord de mer</li>
      </ul>
    </li>
  </ul>
</div>