<div class="flex-container">
    <div class="row">
        <div class="mdc-card mdc-card--outlined mdc-elevation--z5">
            <div class="my-card__media mdc-card__media mdc-card__media--16-9">
            </div>
            <!-- ... content ... -->
            <div class="text-card__primary">
                <h2 class="text-card__title mdc-typography--headline6">Studio à 50 m de la plage</h2>
                <h3 class="text-card__subtitle mdc-typography--subtitle1">Lacanau</h3>
                <div class="mdc-typography--body1">
                    <p>
                        Studio avec 1 chambre séparée très au calme.
                        Centre ville et super marché à 300m.</p>
                </div>
            </div>
            <div class="mdc-card__actions">
                <div class="mdc-card__action-buttons">
                    <button (click)="link('/tarif')" class="mdc-button mdc-card__action mdc-card__action--button">
                        Tarifs
                    </button>
                    <button (click)="link('/disponibilites/0/0')" class="mdc-button mdc-card__action mdc-card__action--button">Disponibilités</button>
                </div>
                <div class="mdc-card__action-icons">
                    <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="Share">share</button>
                    <button class="material-icons mdc-icon-button mdc-card__action mdc-card__action--icon" title="More options">more_vert</button>
                </div>
            </div>
        </div>
    </div>
</div>